<h1 class="five-words"><%= @movie.five_words %></h1>
<%= form_for @movie do |form| %>
  <div class="cta">
    <%= text_field_tag 'guess', nil, placeholder: 'Take a guess' %>
    <%= link_to "Next Movie", @next, class: 'next' %>
  </div>
  <%= hidden_field_tag nil, @movie.rotten_id, id: 'movie_rotten_id' %>
<% end %>
<ul class="results">
</ul>
